@using DatabaseBridge.Models;

@model Website.Models.Response.PresentUpdateResponseViewModel
@{
    ViewBag.Title = (Model.KidID == 0 || Model.ItemID == 0 ? "Create" : "Update") + " a present";
}

<h2>@ViewBag.Title</h2>

<form method="post">
    @if (Model.KidID == 0 || Model.ItemID == 0)
    {
        <label for="KidID">Kid</label>
        <select name="KidID">
            @foreach (var kid in DatabaseBridge.Managers.KidsManager.GetAll())
            {
                <option value="@kid.ID">@kid.Name</option>
            }
        </select>
        <br />
        <br />
        <label for="ItemID">Item</label>
        <select name="ItemID">
            @foreach (var item in DatabaseBridge.Managers.DataManager<Item>.GetAll())
            {
                <option value="@item.ID">@item.Name</option>
            }
        </select>
        <br />
        <br />
    }
    <label for="ElfID">Elf</label>
    <select name="ElfID" value="@(Model.ElfID > 0 ? Model.ElfID.ToString() : string.Empty)">
        @foreach (var elf in DatabaseBridge.Managers.ElvesManager.GetAll())
        {
            <option value="@elf.ID">@elf.Name</option>
        }
    </select>
    <br />
    <br />
    <label for="IsDone">Is done</label>
    <input type="checkbox" name="IsDone" @(Model.IsDone ? "checked" : string.Empty) />
    <br />
    <br />
    <input type="submit" value="@(Model.KidID == 0 || Model.ItemID == 0 ? "Create" : "Update")" />
</form>